{% extends "base.html" %}

{% block title %}Create Scholarship | Fund My Future{% endblock %}

{% block content %}
<div class="form-card">
    <h1>Create Scholarship</h1>

    <form method="POST">
        <label>Title</label>
        <input type="text" name="title" required>

        <label>Provider</label>
        <input type="text" name="provider" required>

        <label>Amount</label>
        <input type="text" name="amount">

        <label>Maximum Number of Applicants</label>
        <input type="number" name="max_applicants" min="1" placeholder="e.g. 50">

        <label>Deadline</label>
        <input type="date" name="deadline" min="{{ date_today }}" required>
        

                <label>Profile Documents Required</label>
        <div style="margin-bottom: 15px;">
            <label style="display:block; margin-bottom: 8px;">
                <input type="checkbox" name="required_profile_documents" value="ID Document">
                ID Document
            </label>

            <label style="display:block; margin-bottom: 8px;">
                <input type="checkbox" name="required_profile_documents" value="Academic Record">
                Academic Record
            </label>

            <label style="display:block; margin-bottom: 8px;">
                <input type="checkbox" name="required_profile_documents" value="Proof of Registration">
                Proof of Registration
            </label>
        </div>

        <label>Additional Required Documents</label>
        <input type="text" name="custom_documents" placeholder="e.g. Motivational Letter, Bank Statement">

        <label>Description</label>
        <textarea name="description"></textarea>

        <label>Status</label>
        <select name="status" required>
            <option value="open">Open</option>
            <option value="closed">Closed</option>
        </select>

        <button type="submit" class="btn">Create Scholarship</button>
    </form>
</div>
{% endblock %}
